---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../config";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/**/*.md")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style lang="scss">

    </style>
  </head>
  <body>
    <Header />

    <main class="mt-[6rem]">
      <!-- blogs start  -->
      <section class="blogs">
        <div class="container">
          <div
            class="columns-1 md:columns-3 lg:columns-3 xl:columns-3 2xl:columns-4"
          >
            <!-- single blog start  -->
            {
              posts.map((post) => (
                <div class="single-blog transition-all overflow-hidden mb-4">
                  <div class="mb-4">
                    <img src={post.frontmatter.heroImage} alt="" />
                  </div>
                  <div class="tags">
                    <a
                      href="#"
                      class="text-xs inline-flex items-center font-regular leading-sm uppercase px-3 py-1 bg-green-200 text-green-700 rounded-full"
                    >
                      SUCCESS
                    </a>
                  </div>
                  <div class="py-4">
                    <h1 class="text-2xl font-medium mb-2">
                      <a href={post.url}>{post.frontmatter.title}</a>
                    </h1>
                    <p class="text-base mb-4 text-gray-400 h-12 text-ellipsis overflow-hidden ...">
                      ay to install the theme is to fork it using GitHub. Check
                      the README ay to install the theme is to fork it using
                      GitHub. Check the READMEay to install the theme
                    </p>

                    <div class="flex items-center ">
                      {post.frontmatter.author ? (
                        <div class="author flex items-center">
                          <img
                            src="https://hally-hugo.netlify.app/images/01.jpg"
                            alt=""
                            class="rounded-full w-5 h-5 mr-2"
                          />{" "}
                          <span class="text-xs">
                            {" "}
                            {post.frontmatter.author}
                          </span>
                        </div>
                      ) : (
                        <p class="text-xs">No Author</p>
                      )}
                      <div class="date text-xs ml-4">
                        <time datetime={post.frontmatter.pubDate}>
                          {new Date(
                            post.frontmatter.pubDate
                          ).toLocaleDateString("en-us", {
                            year: "numeric",
                            month: "short",
                            day: "numeric",
                          })}
                        </time>
                      </div>
                    </div>
                  </div>
                </div>
              ))
            }
            <!-- single blog end -->
          </div>
        </div>
      </section>
      <!-- blogs end -->
    </main>
    <Footer />
  </body>
</html>
